@font-face{
    font-family: roboto-bold;
    url: '../../fonts/Roboto-Bold.ttf';
}
@font-face{
    font-family: roboto-regular;
    url: '../../fonts/Roboto-Regular.ttf';
}
@font-face{
    font-family: roboto-cond;
    url: '../../fonts/RobotoCondensed-Bold.ttf';
}
/*------Action person-------*/

button.btnAddNew {background: #1d8a58;border-radius: 0px;border: 0px;}
button.btnAddNew:hover {
    background: #2a9e69;
}
button.btnDelete {
    border-radius: 0px;
    border: 0px;
}
/*------Action person-------*/
ul.action_person li span {
    padding: 5px;
    border-radius: 50%;
    color: #fff;
    font-size: 11px;
}

span.fa.fa-list {
    background: #5bc0de;
}

span.fa.fa-eye {
    background: #5cb85c;
}

span.fa.fa-pencil-square-o {
    background: #337ab7;
}

span.fa.fa-trash-o {
    background: #d9534f;
}
/*--------Products-----*/
table#datatable-buttons {
    width: 100% !important;
}
/*------Action person-------*/

